{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class = "main">
<h1> Cocktail Search Engine </h1>

<form action="/drinks/search" method="POST">
    <label for="">Find Your Drink</label>
    <input type="text" name="search">

    <button type="submit">Search</button>
</form>
</div>
